.w-100 {
    width: 100% !important;
}

.logo {
    margin: 19px 0px !important;
}

.menu_main {
    margin: 12px 0px !important;
}

.top_panel_wrap .container-fluid {
    margin: 0px 15px !important;
}

.top_panel_wrap {
    background: rgba(250, 250, 250, 0.2);
}

.logo img {
    width: 159px !important;
    height: auto !important;
}

ul#menu_main a {
    font-size: 15px !important;
    font-weight: 500 !important;
}

ul#menu_main a {
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: 0px 0px 16px;
}

ul#menu_main .current-menu-item a {
    padding: 0px 10px 16px !important;
}

@media (max-width: 1439px) and (min-width: 1280px) {
    .menu_main_wrap .menu_main_nav>li+li {
        margin-left: 20px !important;
    }
}

li.tp-revslider-slidesli.active-revslide.current-sr-slide-visible {
    overflow: visible !important;
}


/* slider css start */

.slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 120px;
    background: rgba(12, 62, 130, .5);
}

.slide-content h3 {
    color: #fff;
    text-transform: capitalize;
    font-weight: normal;
    word-spacing: 9px;
    font-size: 35px;
}

.slide-content h3 span {
    color: #ffc820;
}

.slide-content p {
    color: #fff;
    font-size: 32px;
    width: 950px;
    margin: auto;
    line-height: 40px;
    margin-top: 34px;
}

.search-panel {
    width: 1000px;
    background: hsla(0, 0%, 100%, .6)!important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    margin: 65px auto 0px;
    text-align: left;
    padding: 25px;
}

.radios {
    display: inline-block;
    margin-left: 15px;
}

.hidded-file {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
}

.custom-radio>span {
    color: #333;
    position: relative;
    padding-left: 22px;
}

.custom-radio>span:after {
    content: "";
    width: 13px;
    height: 13px;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    left: 0px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-56%);
}

.custom-radio>span:before {
    content: "";
    width: 6px;
    height: 6px;
    background: #f27f15;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0%;
    transform: translateY(-59%) translateX(56%);
    z-index: 1;
    opacity: 0
}

.custom-radio input:checked~span:after {
    border-color: #f27f15 !important;
}

.custom-radio input:checked~span:before {
    opacity: 1 !important;
}

.radios .custom-radio {
    display: inline-block;
    margin-right: 13px;
}

.transport-medium {
    width: 100px;
    display: inline-block;
    margin-left: 10px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
    padding-left: 5px;
    height: 28px;
    border-radius: 4px;
    padding-top: 4px;
}

.checkboxes {
    margin-top: 3px;
}

.my-checkbox>span:before {
    content: "\f00c" !important;
    font-family: FontAwesome;
    color: #fff !important;
    width: 0px;
    height: 0px;
    font-size: 9px;
    transform: none !important;
    top: -2px;
    left: 2px;
}

.my-checkbox input:checked~span:after {
    border-color: #f27f15 !important;
    background: #f27f15 !important
}

.my-checkbox>span:after {
    border-radius: 0px;
}

.my-checkbox {
    margin-left: 10px;
    margin-right: 15px;
}

li.tp-revslider-slidesli.active-revslide.current-sr-slide-visible {
    overflow: visible !important;
}

.search-selects {
    margin: 20px 0px 0px 0px;
    padding: 0px 15px 0px 7px;
}

.search-selects select {
    height: 40px
}

.select-icon {
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: 7px center;
    padding-left: 30px !important;
}

.green-marker {
    background-image: url(../images/green-marker.png);
}

.box-icon {
    background-image: url(../images/box.png);
}

.red-marker {
    background-image: url(../images/red-marker.png);
}

.search-selects input {
    border: 1px solid #ccc;
    height: 40px;
}

.box-first {
    padding-left: 36px !important;
}

.between-gap {
    padding-right: 0px;
    padding-left: 7px;
}

.field-col {
    width: 20.7%;
}

.button-col {
    width: 17%;
}

.btn-getQuote {
    background: #e99223;
    border-color: #e99223;
    height: 40px;
}

.slider_wrap {
    position: relative;
    z-index: 1;
}

.load-type-box {
    position: absolute;
    width: 650px;
    background: #F6F6F6;
    padding-top: 6px;
    border: 1px solid #ccc;
    margin-top: 12px;
    margin-left: -212px;
    display: none;
}

.load-type-box:after {
    content: "";
    position: absolute;
    border: 8px solid;
    border-color: transparent transparent #F6F6F6 transparent;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.load-type-box a {
    color: #000 !important
}

.load-type-box ul li {
    width: 50%;
    position: static !important;
    visibility: visible !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.load-type-box .nav-tabs .active a {
    border: 0px !important;
}

.load-type-box>ul {
    border: 0px;
}

.load-type-box>ul>li>a {
    color: #777 !important;
}

.load-type-box>ul>li.active>a span {
    color: #ec6729;
}

.load-type-box>ul>li>a span {
    font-size: 20px
}

.load-type-box>ul li a strong {
    font-size: 14px;
    margin-top: 3px;
}

.load-type-box>ul>li>a {
    cursor: pointer !important;
    border-color: transparent !important;
}

.load-type-box .tab-content {
    background: #fff;
    margin-top: -1px;
}

.load-type-box .quantity-numbers {
    display: inline-block;
    position: relative;
}

.load-type-box .quantity-numbers .btn {
    padding: 0px;
    font-size: 18px;
    display: block;
    height: 29px;
}

.load-type-box .quantity-numbers input {
    position: absolute;
    top: 0px;
    left: 0px;
}

.load-type-box .quantity-numbers input {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 63px;
    transform: translateY(-50%);
}

.load-type-box .cargo-wrapper {
    padding-bottom: 30px;
}

.load-type-box .cargo-quantity {
    padding: 6px 0px;
    border-bottom: 1px solid #ccc;
    margin: 0px 15px;
    position: relative;
}

.load-type-box .product-name {
    position: absolute;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
}

.barcode {
    position: absolute;
    right: 155px;
    top: 50%;
    transform: translateY(-50%);
}

.personal-effect {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-checkbox>span {
    padding-left: 27px;
    font-size: 15px;
}

.custom-checkbox>span:after,
.custom-checkbox>span:before {
    content: "";
    position: absolute;
}

.custom-checkbox>span:after {
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    left: 0px;
    top: 50%;
    transform: translateY(-67%);
}

.custom-checkbox>span:before {
    content: "\f00c" !important;
    font-family: FontAwesome;
    color: #000 !important;
    width: 0px;
    height: 0px;
    font-size: 11px;
    transform: none !important;
    top: 0px;
    left: 4px;
    opacity: 0
}

.custom-checkbox input:checked~span:before {
    opacity: 1 !important
}

.cargo-wrapper .cargo-quantity:last-child {
    border-bottom: 0px;
    margin-bottom: -14px;
}

form .row {
    margin: 0px !important;
}

form.lcl-form {
    padding: 18px 17px 11px;
}

form.lcl-form label {
    margin-left: 13px;
    font-weight: bold;
    font-size: 13px;
    color: #000;
}

form.lcl-form a {
    margin-left: 13px;
}

form.lcl-form a {
    margin-left: 13px;
    display: inline-block;
    font-size: 15px;
    color: #e99223 !important;
    position: relative;
    top: -5px;
}

.btn-submit {
    background-color: #e99223;
    border-color: #e99223;
    height: 32px;
    margin-bottom: 25px;
    margin-top: 10px;
}


/* slider css end */


/* responsive css start */

.btn-toggler {
    float: right;
    display: none;
    width: 36px;
    padding: 2px 0px 0px 0px;
    height: 36px;
}

@media (min-width: 768px) and (max-width: 1100px) {
    ul#menu_main {
        display: none !important;
    }
    .btn-toggler {
        display: inline-block !important;
    }
    .btn-toggler {
        padding: 0px;
        line-height: 0px;
    }
    .menu_main_wrap .logo {
        width: 100%;
        margin-bottom: -25px !important;
    }
    ul.menu_main_responsive {
        position: absolute;
        right: 0px;
        min-width: 310px;
        top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .menu_main_wrap .logo {
        margin-bottom: 0px!important;
    }
    .slide-content {
        height: auto;
        min-height: 900px;
    }
    li.tp-revslider-slidesli.active-revslide.current-sr-slide-visible {
        overflow: visible !important;
        height: 900px !important;
        display: flex;
    }
    .slide-content p {
        font-size: 20px;
        width: auto;
        margin: auto;
        line-height: 27px;
        margin-top: 34px;
    }
    .search-panel {
        max-width: calc(100% - 40px);
        margin: 32px auto 0px;
    }
    div#rev_slider_wrapper {
        height: 900px !important;
    }
    .transport-medium span.checkboxes {
        margin-left: 5px;
    }
    .field-col {
        width: 100%;
        margin-bottom: 10px;
    }
    .button-col {
        width: 100%;
    }
    .checkboxes {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .mob-one-row {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .load-type-box {
        max-width: 100%;
        margin-left: 0px;
        z-index: 1;
    }
    .slide-content h3 {
        line-height: 39px;
    }
}

@media (max-width: 767px) {
    .menu_main_wrap .logo {
        width: 100%;
        float: left;
        text-align: left;
    }
    .menu_main_responsive {
        /* display: block !important; */
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 1;
        top: -10px;
    }
    .responsive_menu .menu_main_nav_area {
        overflow: visible;
    }
    .btn-toggler {
        display: inline-block;
    }
    ul.sub-menu {
        margin-left: 0px !important;
    }
    .slide-content {
        height: auto;
        min-height: 900px;
    }
    li.tp-revslider-slidesli.active-revslide.current-sr-slide-visible {
        overflow: visible !important;
        height: 900px !important;
        display: flex;
    }
    .slide-content p {
        font-size: 20px;
        width: auto;
        margin: auto;
        line-height: 27px;
        margin-top: 34px;
    }
    .search-panel {
        max-width: calc(100% - 40px);
        margin: 32px auto 0px;
    }
    div#rev_slider_wrapper {
        height: 900px !important;
    }
    .transport-medium span.checkboxes {
        margin-left: 5px;
    }
    .field-col {
        width: 100%;
    }
    .button-col {
        width: 100%;
    }
    .checkboxes {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .mob-one-row {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .load-type-box {
        max-width: 100%;
        margin-left: 0px;
        z-index: 1;
    }
    .slide-content h3 {
        line-height: 39px;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    .mob-full-width {
        width: 100% !important;
    }
    .btn-toggler {
        padding: 0px;
        line-height: 0px;
    }
    .menu_main_wrap .logo {
        margin-bottom: 0px !important;
    }
    .field-col {
        width: 50%;
        margin-bottom: 10px;
    }
    .slide-content {
        min-height: 643px;
    }
    li.tp-revslider-slidesli.active-revslide.current-sr-slide-visible {
        max-height: 643px;
    }
    div#rev_slider_wrapper {
        max-height: 643px !important;
    }
    .barcode {
        position: static;
        transform: none !important;
        margin-top: 22px;
        display: block;
        margin-bottom: 11px;
    }
    .personal-effect {
        top: 37px;
        right: 9px;
    }
    .load-type-box .product-name {
        transform: none !important;
        top: 19px !important;
    }
    .load-type-box>ul li a strong {
        font-size: 11px;
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    .barcode {
        position: static;
        transform: none !important;
        margin-top: 22px;
        display: block;
        margin-bottom: 11px;
    }
    .personal-effect {
        top: unset;
        bottom: 50px;
        right: 9px;
    }
    .load-type-box .product-name {
        transform: none !important;
        top: 19px !important;
    }
    .load-type-box>ul li a strong {
        font-size: 11px;
    }
    .mob-one-row {
        flex-direction: column;
        align-items: center;
    }
    .checkboxes {
        flex-direction: column;
        align-items: center;
    }
}


/* responsive css end */