// header
.dark-header {
  background: $primary-dark;
  color: $white;

  .navbar {
    position: static;
  }
}

// progress steps
.progress-steps {
  .steps-list {
    .list-inline-item {
      color: #cfcfcf;
      padding: 18px 15px 18px 5px;
      width: 24%;
      position: relative;
      &:after {
        content: '\f105';
        color: $primary-dark;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
      &.has-done {
        color: $primary-dark;
        font-weight: 700;
      }
    }
  }
  .progress-bar-wrap {
    height: 5px;
    background: #e5e5e5;
    margin-right: -15px;
    margin-left: -15px;
    .progress-bar {
      height: inherit;
      background: $primary-orange;
    }
  }
}

// accordion card-header
.card-header {
  .link {
    &.collapsed {
      .fa-minus-circle {
        &:before {
          content: "\f056";
          content: "\f055";
        }
      }
    }
  }
}

// optional content
.optional-content {
  color: $primary-dark;
  .optional-content-col-1 {}
  .optional-content-col-2 {}
}

// .optional-content-col-1
.optional-content-col-1 {
  .optional-content-inner {
    max-width: 560px;
  }
  h3 {

    font-size: 24px;
    font-weight: 600;
  }
}
// .shipment-information
.shipment-information {
  .table {
    color: $primary-dark;
    td {
      padding-top: 8px;
      padding-bottom: 8px;
      vertical-align: middle;
    }
    .compact-row {
      &.odd {
        background-color: #fff;
      }
    }
    .expanded-row {
      >td {
        background: #fff;
        border: none;
        padding: 0;
      }
      tr {
        background: #fff;
        td {
          padding: 10px 5px;
        }
      }
    }
  }
}
// .billing-address
.billing-address {
  .billing-form {
    max-width: 350px;
  }
}
// .booking-confirm
.booking-confirm {

}


// .optional-content-col-2
.optional-content-col-2 {
  .quote-summary-box {
    background: $main-bg;
    padding: 30px;

    .heading {
      font-size: 22px;
      margin-bottom: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #c4c4c4;
    }
    .name-value {
      color: $primary-dark;
      padding: 6px 10px;
      .name {}
      .value {
        font-weight: 600;
      }
    }
    .quote-summary {
      margin-bottom: 15px;
      .name-value {
        //font-size: 18px;
        .name {}
        .value {}
      }
    }
    .price-breakdown {
      .name-value {
        //font-size: 15px;
        .name {}
        .value {}
      }
    }
    .price-total {
      border-top: 1px solid #c4c4c4;
      font-size: 20px;
      font-weight: bold;
    }

  }
}
